/* Box Model Hack */
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  background-color: #F5F9FC;
}


/******************************************
/* LAYOUT
/*******************************************/
@media (min-width: 1px) and (max-width:1000px){
  .header-navigation,
  .header-button,
  .features,
  .information {
    display: none;
  }

  .menu,
  .company {
    float: left;
  }

  .menu{
    width: 5%;
    height: 4vh;
    margin: 0.5rem;
  }

  .company{
    width: 90%;
    text-align: center;
    margin: 0.6rem 0;
    font-weight: 500;
    color: #2E4457;
  }

  header{
    background-color: #F5F9FC;
    height: 7vh;
    width: 100%;
    border-bottom: solid #DBE3EA 1px;
  }
  
  .headlines{
    margin: 1rem;
  }

  .tagline{
    text-transform: uppercase;
    color: #8FA3B4;
    font-weight: 400;
    margin-top: 3rem;
    letter-spacing: 0.1rem;
    font-size: 0.8rem;
  }

  h1{
    color: #2E4457;
    font-weight: 500;
  }

  .input{
    width: 100%;
    padding: 0.5rem 0.8rem;
    border: none;
    background-color: #E1E9F0;
  }

  .button{
    background-color: #304659;
    width: 100%;
    margin-top: 0.7rem;
    border: none;
    color: white;
    padding: 0.5rem;
  }

  .slogan{
    color: #80909E;
    font-weight: 300;
  }

  .computer{
    width: 100%;
  }
}

@media (min-width:1001px) {
  header{
    height: 10vh;
    padding-top: 1rem;
  }
  .menu{
    display: none;
  }

  .company,
  .header-navigation,
  .header-button{
    float: left;
  }

  .company{
    width: 20%;
    margin: 0 0 0 2rem;
  }

  .header-navigation{
    list-style: none;
    width: 65%;
    margin: 0;
    padding-top: 0.4rem;
  }

  .header-links{
    float: left;
    margin-left: 3rem;
  }

  a{
    text-decoration: none;
    color:#7F8E9B;
  }

  .header-button{
    float: left;
    background-color: #304659;
    border: none;
    color: white;
    padding: 0.5rem;
    width: 8%;
    margin-right: 2rem;
  }

  .headlines{
    float: left;
    width: 60%;
    padding: 0 8rem 0 8rem;
  }

  .computer{
    float: left;
    width: 40%;
  }

  .tagline{
    text-transform: uppercase;
    color: #8FA3B4;
    font-weight: 400;
    margin-top: 3rem;
    letter-spacing: 0.1rem;
    font-size: 0.8rem;
  }

  .title{
    color: #2E4457;
    font-weight: 500;
  }

  .input{
    width: 80%;
    padding: 0.5rem 0.8rem;
    border: none;
    background-color: #E1E9F0;
    float: left;
  }

  .intro-button{
    background-color: #304659;
    width: 20%;
    border: none;
    color: white;
    padding: 0.5rem;
    float: left;
  }

  .slogan{
    color: #80909E;
    font-weight: 300;
    clear: both;
    padding-top: 1rem;
    font-size: 0.9rem;
  }

  .intro{
    height: 80%;
    padding-bottom: 4rem;
    overflow: auto;
  }

  .features{
    clear: both;
    width: 100%;
    padding: 3rem 4rem 0 8rem;
  }

  .feature-one,
  .feature-two,
  .feature-three,
  .feature-four {
    float: left;
    width: 25%;
    padding: 0 1.5rem 0 1.5rem;
  }

  .feature-title{
    font-weight: 500;
  }

  .feature-info{
    font-weight: 300;
  }

  .information {
    padding-top: 4rem ;
    clear: both;
    width: 100%;
    padding: 4rem 4rem 0 8rem;
    background-color: white;
  }


}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
