/* Box Model Hack */
* {
  box-sizing: border-box;
  font-family: ReithSans, Arial, Helvetica, freesans, sans-serif;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  
}

h2 {
  margin: 0;
  padding: 0;
}


/******************************************
/* LAYOUT
/*******************************************/
header {
  color: white;
  background-color: black;
  height: 5.5vh;
  padding: 0 0.4rem 0 0.4rem;
  width: 100%;
}

.logo,
h1,
button,
ul,
li {
  float: left;
}

.logo{
  border-right: 0.1rem solid gray;
  width: 9%;
  height: 5.5vh;
  
}

h1 {
  background-color: white;
  color: black;
  width: 2rem;
  height: 2rem;
  border: 0.1rem solid black;
  text-align: center;
  margin-right: 0.1rem;
  margin-top: 0.2rem;
  font-size: 1.7rem;
}

button{
  border: none;
  background: black;
  color: white;
  height: 5.5vh;
  width: 14%;
  border-right: 0.1rem solid gray;
}

ul{
  height: 5.5vh;
  margin: 0;
  padding: 0;
}

li{
  list-style-type: none;
  width: 5rem;
  height: 5.5vh;
  border-right: 0.1rem solid gray;
  text-align: center;
  padding: 1.4vh 0.5rem 1vh 0.5rem;
}

.more{
  width: 8rem;
  text-align: left;
}

a{
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
}

.search{
  float: left;
  width: 14%;
  border: none;
  padding-left: 0.5rem;
  margin:1.4vh 0 1vh 1rem;
}


.main-section {
  clear: both;
  width: 100%;
  padding: 0 0.5rem 0.5rem 1.5rem;

}

.main-section h2{
  float: left;
  width: 50%;
  margin: 1rem 0 1rem 0;
}

.main-section .date{
  color: gray;
  font-weight: 100;
  padding-right: 1rem;
}

h2 + h2{
  text-align: right;
}

.main-story,
.smaller-stories{
  float: left;
  width: 50%;
  height: 57vh;
  position: relative;
}

.main-story a{
  color: black;
}

.main-story a h1{
  position: absolute;
  border: none;
  bottom: 4rem;
  width: 100%;
  background: transparent;
  text-align: left;
  padding-left: 1rem;
  color: white;
}

.main-story a img{
  width: 100%;
  height: 95%;
  padding-right: 1rem;
}

.main-story p,
.main-story span{
  border: none;
  width: 100%;
  position: absolute;
  bottom: 3rem;
  background-color: transparent;
  color: black;
  text-align: left;
  padding-left: 1rem;
  color: white;
  font-size: 0.95rem;
}

.main-story span{
  bottom: 2.5rem;
  border-left: 0.3rem solid red;
  margin-left: 1rem;
}

.smaller-stories{
  display: flex;
  width: 50%;
  flex-wrap: wrap;
}

.small-story{
  position:relative;
  width: 50%;
  height: 53%;
  padding-right: 10px;
}

.small-story img {
  width: 100%;
}

.small-story h3{
  position: absolute;
  border: none;
  width: 100%;
  background: transparent;
  text-align: left;
  padding-left: 1rem;
  color: white;
  font-weight: 100;
}

.head2,
.head3{
  top: 6rem;
}

.head4,
.head5{
  bottom:3rem;
}

.span2,
.span3,
.span4,
.span5{
  position: absolute;
  top: 10rem;
  right: 9rem;
  left:1rem;
  color: white;
  border-left: solid blue;
  padding-left: 0.5rem;
  width: 80%;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.span3{
  border-left: solid red;
}

.span4{
  border-left:solid teal;
}

.span5{
  border-left: solid purple;
}

.news-section{
  padding: 0 0.5rem 0.5rem 1.5rem;
  clear: both;
  overflow: auto;
}

.news-section h3{
  width: 100%;
  padding-left: 0.7rem;
  font-size: 1.5rem;
  border-left: 0.3rem solid red;
}

.news{
  float: left;
  width: 33.33%;
}

.news img{
  width: 100%;
  padding-right: 1rem;
}

.news h4{
  margin: 0.5rem 0 0.5rem 0;
  font-size: 1.35rem;
}

.news p {
  color: grey;
}

.news span{
  color: gray;
  border-left: 0.1rem solid red;
  padding-left: 0.7rem;

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
